@import "tailwindcss";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}
.dark .skeleton {
  background: linear-gradient(90deg, #222 25%, #333 50%, #222 75%);
  background-size: 1000px 100%;
}
